<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/admin_base.html :: head"></head>
<head>
<link th:href="@{/css/admin/elenco.css}" rel="stylesheet" />
<title th:text="#{admin.curatori.title}">admin page - curatori</title>
</head>

<body>
	<div id="container">
		<header th:replace="fragments/admin_base.html :: header"></header>
		<div id="main">


			<table align="center" class="table-externa">
				<caption th:text="#{curatori.table.caption}">ELENCO ARTSTI</caption>
				<thead>
					<tr>
						<th class="colonnaNome" th:text="#{artisti.table.name}">NOME</th>
						<th class="email" th:text="#{curatori.email}"></th>
						<th class="telefono" th:text="#{curatori.telefono}"></th>
						<th class="nascita" th:text="#{curatori.luogoNascita}"></th>
						<th class="data" th:text="#{curatori.dataNascita}"></th>
						
						<th class="opzioniCollezioni"></th>
						<th class="opzioniCollezioni"></th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td colspan="7">
							<div class="divinterno">
								<table align="center" class="table-int">
									<tr th:each="curatore : ${curatori}">
										<td class="colonnaNome"><strong th:text="${curatore.nome}+' '+${curatore.cognome}"></strong></td>

										<td class="email"><span th:text="${curatore.email}"></span></td>
										
										<td class="telefono"><span th:text="${curatore.numeroTelefono}"></span></td>
										
										<td class="nascita"><span
											th:text="${curatore.luogoNascita}"></span></td>
										<td class="data"><span th:text="${curatore.dataNascita}"></span></td>
										
										<td class="opzioniCollezioni"><a
											th:href="@{'/curatori/modifica'+'/'+${curatore.id}}"
											th:text="#{admin.modifica}">modifica</a></td>
										<td class="opzioniCollezioni"><a
											th:href="@{'/curatori/delete'+'/'+${curatore.id}}"
											th:text="#{admin.elimina}">elimina</a></td>

									</tr>
								</table>
								<!--Table-int-->
							</div>
						</td>
						<!--/colspan tabella ext-->
					</tr>
				</tbody>
			</table>




			
			<div>
				<form th:action="@{/admin/addCuratore}">
					<button type="submit" th:text="#{button.addCuratore}"></button>
				</form>
			</div>

		</div>
	</div>
	<footer th:replace="fragments/admin_base.html :: fondo"></footer>
</body>
</html>