<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <head> <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Muli"> </head>

<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta charset="UTF-8" />
	<link th:href="@{/css/admin/base.css}" rel="stylesheet">
</head>
<body>
<div id="container">
	<header th:fragment="header">
		<div class="options">
		<a id="backHome" href="/"> Home Page </a>
		<a id ="login" href="login">Login</a>
		</div>
		<h1 th:text="#{base.nomeMuseo}"></h1>
		<h2><a id="menuAdmin" th:href="@{/default}" th:text="#{admin_base.title}"></a></h2>		
	</header>
	<div id="main"></div>
</div>
	<div id="footer" th:fragment="fondo"></div>

</body>
</html>