html,body{height: 100%;margin:0px;}
body{
	text-align:center;
}


.table-ext{
	width: 50%;
	border-top: 2px solid #424242;
	border-bottom: 2px solid #424242;
	border-spacing: 5px;
	border-collapse: separate;
	align-items: center;
	margin-bottom: 20px;	

}
.table-externa{
	width: 90%;
	border-top: 2px solid #424242;
	border-bottom: 2px solid #424242;
	border-spacing: 5px;
	border-collapse: separate;
	
	margin-bottom: 20px;	
}
caption{
	font-size: 24px;
	border-bottom: 1px solid #424242;
}

th{
	border-bottom: 0.5px solid #424242;
}


#colonnaNome{
	width: 45%;
}
.divinterno{
	
	max-height: 40vh;
	overflow: auto;
	width: 100%;
}
.table-int {
width:100%; 
}
.table-interna{
	width:100%;
}
.table-int td {

font-size: 18px;
line-height: 25px;

text-align:center;

}
.table-interna td {

font-size: 18px;
line-height: 25px;

text-align:center;
width:100%;

}
button {
	width:200px;
	background-color: #424242;
	border-radius: 10px;
	color: white;
	padding: 5px 10px;
	font-size: 16px;
	cursor: pointer;
	margin: 0px 30px 0 30px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover{
	background-color: #878787
}
.indietro{
	margin-bottom: 20px;
}
.colonnaNome{
	width:20%;
}
.email{
	width:18%;
}
.telefono{
	width:12%;
}
.nascita{
	width:12%;
}
.data{
	width:12%;
}
.primaColonna {
	width: 35%;
}
.colonnaNazione {
	width: 20%;
}

.colonnaData {
	width: 15%;
}

