html, body {
	height: 100%;
}

body {
	margin: 0;
	background: url("/images/sfondoHome.jpg")
}
#main{
	
}
#contenitoreTorre{
	height:100%;
	
	
	background-color: white;
}
#torreSx{
	height: 40%;
	position:absolute;
	left:0;
	bottom:8vh;
	opacity:0.7;
}
#torreDx{
	height: 40vh;
	position:absolute;
	right:0;
	bottom:8vh;
	opacity:0.7;
}
#benvenuto{
		width:100%;
		text-align:center;
}
#centro{	
	width:80%;	
}
#foto{
	width:40%;
	margin-left:30%;
	
}
.contenuto {
	margin-top: 2%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	height: 60%;
}
.contenuto#info{
	margin:0px;
	
	margin-bottom:2%;
	font-size: 3vh;
}

#titolo {
	padding:0px;
	text-align: center;
	
}

#boxUno {
	text-align: center;
	width: 42%;
	
}

#boxDue {
	
	text-align: center;
	width: 42%;
	margin-right:5%;
}
.gruppo{
	margin-bottom:40px;
}
.riga {
	text-align: center;
}

.allinea {
	padding: 1%;
	max-width: 500px;
	display: inline-block;
}
.info{
	font-size:3vh;
}
#mappa{
	width:80%;
	height:80%;
}